body {
    background-color: black;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

#header {
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

#container {
    color: white;
}

#form {
    color: white;
    text-align: left;
}

.headings {
    color: aquamarine;
}

.circular {
    border-radius: 50%;
}

.navtop ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    max-width: 500px;
    margin: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}  